<div class="container-xxl mt-3">
    <div class="card">
        <p-dataView #dv [value]="movies" [paginator]="true" [rows]="rows" [lazy]="true" (onLazyLoad)="loadData($event)"
            [totalRecords]="totalRecords" filterBy="title" layout="list" [rowsPerPageOptions]="[5, 10, 15, 20]">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name"
                            (input)="dv.filter($any($event.target).value)">
                    </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-movie pTemplate="listItem">
                <div class="p-col-12">
                    <div class="movie-list-item">
                        <a [routerLink]="movie.id" routerLinkActive="router-link-active">
                            <img src='https://image.tmdb.org/t/p/original{{movie.poster_path}}' class="img-fluid img-thumbnail" [alt]="movie.title" />
                        </a>
                        <div class="movie-list-detail">
                            <a [routerLink]="movie.id" routerLinkActive="router-link-active">
                                <div class="movie-title">{{movie.title}}</div>
                            </a>
                            <div class="movie-overview">{{movie.overview}}</div>
                            <div class="d-inline-flex">
                                <p-rating class="me-2" [ngModel]="movie.vote_average" [stars]="10" [readonly]="true"
                                    [cancel]="false">
                                </p-rating>
                                <span>{{movie.vote_average}} of {{movie.vote_count}} votes</span>
                            </div>
                            <div>
                                <i class="pi pi-tag movie-category-icon"></i>
                                <span class="movie-category">{{getGenreMovieByMovie(movie.genre_ids)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-movie pTemplate="gridItem">
                <div class="p-col-12 p-md-6 p-xl-4">
                    <div class="movie-grid-item card h-100">
                        <img src='https://image.tmdb.org/t/p/original{{movie.poster_path}}' class="img-fluid img-thumbnail" [alt]="movie.title" />
                        <div class="movie-grid-item-content">
                            <a [routerLink]="movie.id" routerLinkActive="router-link-active">
                                <div class="movie-title">{{movie.title}}</div>
                            </a>
                            <div class="movie-overview">{{movie.overview}}</div>
                            <div>
                                <i class="pi pi-tag movie-category-icon"></i>
                                <span class="movie-category">{{getGenreMovieByMovie(movie.genre_ids)}}</span>
                            </div>
                            <p-rating [ngModel]="movie.vote_average" [stars]="10" [readonly]="true" [cancel]="false">
                            </p-rating>
                            <span>{{movie.vote_average}} of {{movie.vote_count}} votes</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>